In [1]:
import sqlite3

In [2]:
# connecting to a sqlite database

connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
''' CREATE '''

# creating table in our example.db 

cursor.execute(
    ''' 
        CREATE TABLE IF NOT EXISTS Employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT
        )
    '''
)


# commit the above changes
connection.commit()

In [6]:
''' READ '''

cursor.execute(
    ''' 
    SELECT * FROM Employees
    '''
)

In [7]:
''' INSERT '''

# inserting data in our example.db database
cursor.executemany(
    ''' 
    INSERT INTO Employees (name, age, department)
    VALUES (?, ?, ?)
    ''',
    [
        ('Harshit', 19, 'Data Science'),
        ('Bob', 25, 'Product'),
        ('Krish', 32, 'Backend')
    ]
)

In [8]:
# commit the changes
connection.commit()

In [10]:
# querying the data from the table
cursor.execute('SELECT * FROM Employees')
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Harshit', 19, 'Data Science')
(2, 'Bob', 25, 'Product')
(3, 'Krish', 32, 'Backend')

In [11]:
''' UPDATE '''

# update the data in our table
cursor.execute(
    ''' 
    UPDATE Employees
    SET age=34
    WHERE name="Bob"
    '''
)

In [12]:
connection.commit()

In [13]:
# querying the data from the table
cursor.execute('SELECT * FROM Employees')
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Harshit', 19, 'Data Science')
(2, 'Bob', 34, 'Product')
(3, 'Krish', 32, 'Backend')

In [15]:
''' DELETE '''

# delete the data from the table
cursor.execute(
    '''
    DELETE from Employees
    WHERE name="Bob"
    '''
)

In [17]:
connection.commit()

In [18]:
# querying the data from the table
cursor.execute('SELECT * FROM Employees')
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Harshit', 19, 'Data Science')
(3, 'Krish', 32, 'Backend')